{% extends "layout.html" %}

{% block styles %}
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/home.css') }}"
            type="text/css"
    />
{% endblock %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Sex</th>
        <th scope="col">Age</th>
        <th scope="col">Height_in</th>
        <th scope="col">Weight_lbs</th>
    </tr>
    </thead>
    <tbody>
    {% for subject in biostats %}
    <tr>
        <td><a href="view/{{subject.id}}">{{ subject.Name }}</a></td>
        <td>{{ subject.Sex }}</td>
        <td>{{ subject.Age }}</td>
        <td>{{ subject.Height_in }}</td>
        <td>{{ subject.Weight_lbs }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}